

Class {
	elementIcon: false;
	displayBorder: false;
	transparency:100;
	showTitle:false;
	displayHeader:false;
}

Class > Compartment{
	visible:false;
}
 
Class > Compartment[kind=symbol]{
	visible: true;
}

Label[type=StereotypeLabel] {
	visible:false;
}

[appliedStereotypes~="NodeSet::UAObject"] {
	italic:false;
	svgFile: "platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/images/UAObject.svg";
	followSVGSymbol:true;
}

[appliedStereotypes~="NodeSet::UAObjectType"] {
	svgFile: "platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/images/UAObjectType.svg";
	followSVGSymbol:true;
}

[appliedStereotypes~="NodeSet::UAVariable"] {
	svgFile: "platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/images/UAVariable.svg";
	followSVGSymbol:true;
}

[appliedStereotypes~="NodeSet::UAVariableType"] {
	italic:true;
	svgFile: "platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/images/UAVariableType.svg";
	followSVGSymbol:true;
}

[appliedStereotypes~="NodeSet::UADataType"] {
	svgFile: "platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/images/UADataType.svg";
	followSVGSymbol:true;
}

[appliedStereotypes~="NodeSet::UAReferenceType"]{
	svgFile: "platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/images/UAReferenceType.svg";
	followSVGSymbol:true;
}

[appliedStereotypes~="NodeSet::UAMethod"] {
	svgFile: "platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/images/UAMethod.svg";
	followSVGSymbol:true;
}

[appliedStereotypes~="NodeSet::UAView"] {
	svgFile: "platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/images/UAView.svg";
	followSVGSymbol:true;
}
