<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://OPC_UA_PROFILES/"
            target="platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/profile/">
      </mapping>
      <mapping
            source="pathmap://OPC_UA_LIBRARIES/"
            target="platform:/plugin/at.ac.tuwien.auto.modelua.papyrus.opcua.diagram/resources/libraries/">
      </mapping>
   </extension>

	<!-- register the profile so it can be found by the Papyrus Apply profil property view -->
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="OPC UA NodeSet Profile"
            name="OPC UA NodeSet Profile"
            path="pathmap://OPC_UA_PROFILES/UANodeSet.profile.uml"
            provider="TU-Wien ASG">
      </profile>
   </extension>
   
 <!-- register the profile so it can be found by the Papyrus Import Library menu in the model explorer -->   
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="OPC UA Base Nodeset"
            name="OPC UA Base NodeSet"
            path="pathmap://OPC_UA_LIBRARIES/Opc.Ua.NodeSet2/Opc.Ua.NodeSet2.uml"
            provider="TU-Wien ASG">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="OPC UA Safety Extension Nodeset"
            name="OPC UA Safety Extension Nodeset"
            path="pathmap://OPC_UA_LIBRARIES/Opc.Ua.Safety.NodeSet2/Opc.Ua.Safety.NodeSet2.uml"
            provider="TU-Wien ASG">
      </library>
   </extension>
   
   <extension point="org.eclipse.papyrus.infra.architecture.models">
	    <model path="resources/architecture/opcua.architecture"/>
	 </extension>
	 
	<extension
	      point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
		<clientContext
	         id="at.ac.tuwien.auto.modelua.papyrus.opcua.architecture">
	      <matcher
	            class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.architecture.internal.NoContextEnablementMatcher">
	      </matcher>
	   	</clientContext>
		<binding context="at.ac.tuwien.auto.modelua.papyrus.opcua.architecture">
			<!-- ElementType that deals with View deletion when their related model element is deleted -->
			<elementType ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
			<elementType ref="org.eclipse.gmf.runtime.diagram.core.advice.removeBookmarks"/>
	        <!-- Check for attempts to edit read-only objects that cannot reasonably be made writeable. -->		
	        <advice ref="org.eclipse.papyrus.infra.emf.readOnlyAdvice" />
	        <!-- Delete markers attached to objects being deleted. -->
		</binding>
	</extension>
   
   <!-- Register "semantic" elementype -->
   <extension point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="resources/elementtypes/UANodeSet.di.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
   <extension point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="resources/elementtypes/UANodeSet.elementtypesconfigurations">
      </elementTypeSet>
   </extension>

    <!-- Reister new chil menu in Model explorer -->
    <extension
          name="NodeSet"
          point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel model="resources/elementtypes/newChildMenu.xmi"></menuCreationModel>
    </extension>  
    <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.resourcechangedlistener"
            realization="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.listener.DiagramChangeListener">
      </listener>
   </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.common.connectionDecoration">
       <decorationDeclaration
             class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.decorations.ReferenceTypeDecorator"
             name="ReferenceTypeDecorator">
       </decorationDeclaration>
       <decorationDeclaration
             class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.decorations.HierachicalReferenceTypeDecorator"
             name="HierachicalReferenceTypeDecorator">
       </decorationDeclaration>
       <decorationDeclaration
             class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.decorations.HasComponentDecorator"
             name="HasComponentDecorator">
       </decorationDeclaration>
       <decorationDeclaration
             class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.decorations.HasEventSourceDecorator"
             name="HasEventSourceDecorator">
       </decorationDeclaration>
       <decorationDeclaration
             class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.decorations.HasPropertytDecorator"
             name="HasPropertyDecorator">
       </decorationDeclaration>
       <decorationDeclaration
             class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.decorations.HasSubtypeDecorator"
             name="HasSubtypeDecorator">
       </decorationDeclaration>
       <decorationDeclaration
             class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.decorations.HasTypeDefinitionDecorator"
             name="HasTypeDefinitionDecorator">
       </decorationDeclaration>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.commands.ExportNodeSetHandler"
             id="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.commands.exportNodeSet"
             name="Export NodeSet Command">
       </command>
       <command
             defaultHandler="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.commands.ImportNodeSetHandler"
             id="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.commands.importNodeSet"
             name="Import and Update NodeSet Command">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.papyrus.infra.gmfdiag.export.menu?after=org.eclipse.papyrus.export.exportToHTML">
             <command
                   commandId="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.commands.exportNodeSet"
                   icon="resources/images/icons/opc_ua_logo.png"
                   id="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.menuContribution.exportNodeSetCommand"
                   label="Export NodeSet Informationmodel"
                   style="push"
                   tooltip="Exports the nodeset to a given file location">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="selection">
                      <test
                         forcePluginActivation="true"
                         property="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.properties.isNodeSetModel">
                   	  </test>
                   </with>
                   
                </visibleWhen>
             </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.papyrus.uml.import.menu?before=org.eclipse.papyrus.import.registered.profile">
             <command
                   commandId="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.commands.importNodeSet"
                   icon="resources/images/icons/opc_ua_logo.png"
                   id="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.menuContribution.importNodeSetCommand"
                   label="Import NodeSet and update Informationmodel"
                   style="push"
                   tooltip="Imports a nodeset and updates the currently loaded model">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="selection">
                      <test
                         forcePluginActivation="true"
                         property="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.properties.isNodeSetModel">
                   	  </test>
                   </with>
                   
                </visibleWhen>
             </command>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.commands.IsNodeSetModelPropertyTester"
             id="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.properties.isNodeSetModelPropertyTester"
             namespace="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.properties"
             properties="isNodeSetModel"
             type="org.eclipse.jface.viewers.IStructuredSelection">
       </propertyTester>
    </extension>


</plugin>
