<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	   
   <extension point="org.eclipse.papyrus.infra.architecture.models">
	    <model path="resources/architecture/opcua.architecture"/>
	 </extension>
	 
	<extension
	      point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
		<clientContext
	         id="at.ac.tuwien.auto.modelua.papyrus.opcua.architecture">
	      <matcher
	            class="at.ac.tuwien.auto.modelua.papyrus.opcua.diagram.architecture.internal.NoContextEnablementMatcher">
	      </matcher>
	   	</clientContext>
		<binding context="at.ac.tuwien.auto.modelua.papyrus.opcua.architecture">
			<!-- ElementType that deals with View deletion when their related model element is deleted -->
			<elementType ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
			<elementType ref="org.eclipse.gmf.runtime.diagram.core.advice.removeBookmarks"/>
	        <!-- Check for attempts to edit read-only objects that cannot reasonably be made writeable. -->		
	        <advice ref="org.eclipse.papyrus.infra.emf.readOnlyAdvice" />
	        <!-- Delete markers attached to objects being deleted. -->
		</binding>
	</extension>
   
   <!-- Register "semantic" elementype -->
   <extension point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="resources/elementtypes/UANodeSet.di.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
   <extension point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="resources/elementtypes/UANodeSet.elementtypesconfigurations">
      </elementTypeSet>
   </extension>

    <!-- Reister new chil menu in Model explorer -->
    <extension
          name="NodeSet"
          point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel model="resources/elementtypes/newChildMenu.xmi"></menuCreationModel>
    </extension>  
</plugin>
