<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.designer.languages.common.extensionpoints.languageCodegen">
      <generator
            class="at.ac.tuwien.auto.modelua.papyrus.designer.languages.opcua.codegen.OpcUaCodegen"
            id="opcua"
            language="opcua">
      </generator>
   </extension>

</plugin>
