<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="at.ac.tuwien.auto.modelua.papyrus.opcua.console.OpcUaConsoleFactory"
            label="OPC UA Console">
      </consoleFactory>
   </extension>

</plugin>
