<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.designer.popup?after=codegen">
         <command
               commandId="org.eclipse.papyrus.designer.languages.opcua.codegen.command"
               label="Generate OPC-UA Information Model"
               style="push"
               tooltip="Generate OPC-UA Information Model">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="at.ac.tuwien.auto.modelua.papyrus.designer.languages.opcua.codegen.ui.handlers.GenerateCodeHandler"
            description="Generate OPC-UA Information Model"
            id="org.eclipse.papyrus.designer.languages.opcua.codegen.command"
            name="Generate OPC-UA Information Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
            class="at.ac.tuwien.auto.modelua.papyrus.designer.languages.opcua.codegen.ui.preferemces.CodegenPreferencesPage"
            id="org.eclipse.papyrus.designer.languages.opcua.codegen.ui.preferences.CodegenPreferencesPage"
            name="OPC-UA Information Model Generation">
      </page>
   </extension>

</plugin>
